<template name="AdminPosts">
	<div class = "col-xs-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Action</th>
					<th>Post Message</th>
				</tr>
			
			</thead>
			
			<tbody>
				{{#each posts}}
					<tr class="row">
						<td>{{Title}}</td>
						<td><button class="btn btn-danger" id="deletePost">Delete </button> <button class="btn btn-warning" id="editPost"> Edit</button></td>
						<td>{{Message}}</td>
					</tr>
				{{/each}}	
			</tbody>
			
		</table>
	</div>
</template>