<template name="AdminPanel">
	<div class="col-xs-12">
			<!--Admin Panel SideBar-->
		<div class="col-xs-2 text-left">
			<ul class="list-group">
				<a href="/admin/posts"><li class="list-group-item btn btn-default">Manage Posts</li></a>
				<a href="/admin/users"><li class="list-group-item btn btn-default">Manage Users</li></a>
			</ul>
		</div>
		
			<div class="col-xs-10">
				<h2 class="text-center text-capitalize">Some Overview about the blog</h2>
				<p class="text-center">Total Blog Posts<strong>XXX</strong></p>
				<p class="text-center">Total Registered Users<strong>XXX</strong></p>
				<p class="text-center">Total Page View<strong>XXX</strong></p>
			</div>
		
	</div>
</template>