<template name="NavBar">
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Muppet Blog</a>
		</div>	
		
		<div class="collapse navbar-collapse" id="navbar-content">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/addpost">Add Post</a></li>
				<li><a href="/showposts">Show Posts</a></li>
				{{#if currentUser}}
				<li><a href="/admin">Admin Panel</a></li>
				<li><a href="/ucp">Change Password</a></li>
				{{/if}}
				<li>{{> loginButtons}}</li>
			</ul>
		</div>
	</div>
</nav>
</template>
